.skin-dark {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@skin-header-color; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@skin-header-color, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@skin-header-color, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(@skin-header-color, 5%));
    }

    li.user-header {
      background-color: @skin-header-color;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(lighten(@skin-header-color, 10%));
}

.skin-blue.layout-top-nav .main-header > .logo {
  .logo-variant(@skin-header-color);
}
